@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(0, 0%, 98%);
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  text-align: center;
}

main {
  padding: 5.5rem 2rem 4rem 2rem;
}

h1 {
  color: hsl(234, 12%, 34%);
  font-size: 1.55rem;
  font-weight: 200;
}

h1 span {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
}

p {
  color: hsl(229, 6%, 66%);
}

.intro-paragraph {
  font-size: 0.95rem;
  margin: 1.2rem 0 4.5rem 0;
}

.card {
  background: #fff;
  border-radius: 0.4rem;
  margin-bottom: 1.6rem;
  padding: 1.4rem 1.8rem 1.6rem 1.8rem;
  text-align: left;
  box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.1), 2px 2px 20px rgba(0, 0, 0, 0.1);
}

#card1 {
  border-top: 4px solid hsl(180, 62%, 55%);
}

#card2 {
  border-top: 4px solid hsl(0, 78%, 62%);
}

#card3 {
  border-top: 4px solid hsl(34, 97%, 64%);
}

#card4 {
  border-top: 4px solid hsl(212, 86%, 64%);
}

h2 {
  color: hsl(234, 12%, 34%);
  font-size: 1.25rem;
  margin-bottom: 0.3rem;
}

.card p {
  font-size: 0.8rem;
  line-height: 1.4rem;
  margin-bottom: 2rem;
}

.icon-container {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.icon-container img {
  transform: scale(0.9);
}
